In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [2]:
match=pd.read_csv('matches.csv')
delivery=pd.read_csv('deliveries.csv')

In [3]:
match.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan

In [4]:
match

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,toss_decision,winner,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,field,Kolkata Knight Riders,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,bat,Chennai Super Kings,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,bat,Delhi Daredevils,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,bat,Royal Challengers Bangalore,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,bat,Kolkata Knight Riders,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1090,1426307,2024,Hyderabad,2024-05-19,League,Abhishek Sharma,"Rajiv Gandhi International Stadium, Uppal, Hyd...",Punjab Kings,Sunrisers Hyderabad,Punjab Kings,bat,Sunrisers Hyderabad,wickets,4.0,215.0,20.0,N,NaN,Nitin Menon,VK Sharma
1091,1426309,2024,Ahmedabad,2024-05-21,Qualifier 1,MA Starc,"Narendra Modi Stadium, Ahmedabad",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,160.0,20.0,N,NaN,AK Chaudhary,R Pandit
1092,1426310,2024,Ahmedabad,2024-05-22,Eliminator,R Ashwin,"Narendra Modi Stadium, Ahmedabad",Royal Challengers Bengaluru,Rajasthan Royals,Rajasthan Royals,field,Rajasthan Royals,wickets,4.0,173.0,20.0,N,NaN,KN Ananthapadmanabhan,MV Saidharshan Kumar
1093,1426311,2024,Chennai,2024-05-24,Qualifier 2,Shahbaz Ahmed,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,field,Sunrisers Hyderabad,runs,36.0,176.0,20.0,N,NaN,Nitin Menon,VK Sharma
1094,1426312,2024,Chennai,2024-05-26,Final,MA Starc,"MA Chidambaram Stadium, Chepauk, Chennai",Sunrisers Hyderabad,Kolkata Knight Riders,Sunrisers Hyderabad,bat,Kolkata Knight Riders,wickets,8.0,114.0,20.0,N,NaN,J Madanagopal,Nitin Menon

In [5]:
delivery.head()

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
0,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,1,SC Ganguly,P Kumar,BB McCullum,0,1,1,legbyes,0,NaN,NaN,NaN
1,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,2,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
2,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,3,BB McCullum,P Kumar,SC Ganguly,0,1,1,wides,0,NaN,NaN,NaN
3,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,4,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN
4,335982,1,Kolkata Knight Riders,Royal Challengers Bangalore,0,5,BB McCullum,P Kumar,SC Ganguly,0,0,0,NaN,0,NaN,NaN,NaN

In [6]:
delivery.shape

(260920, 17)

In [7]:
delivery.sample(100)

,match_id,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
164871,1175356,2,Chennai Super Kings,Royal Challengers Bangalore,3,4,AT Rayudu,MM Ali,SK Raina,0,0,0,NaN,0,NaN,NaN,NaN
174327,1178415,2,Delhi Capitals,Rajasthan Royals,1,5,S Dhawan,DS Kulkarni,PP Shaw,4,0,4,NaN,0,NaN,NaN,NaN
212233,1304064,1,Mumbai Indians,Royal Challengers Bangalore,12,4,SA Yadav,Shahbaz Ahmed,Ramandeep Singh,1,0,1,NaN,0,NaN,NaN,NaN
158799,1136596,1,Delhi Daredevils,Sunrisers Hyderabad,8,2,SS Iyer,Shakib Al Hasan,PP Shaw,6,0,6,NaN,0,NaN,NaN,NaN
16431,392196,1,Chennai Super Kings,Deccan Chargers,1,5,SK Raina,RP Singh,ML Hayden,0,0,0,NaN,0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
194730,1254062,2,Kolkata Knight Riders,Mumbai Indians,0,1,N Rana,TA Boult,Shubman Gill,4,0,4,NaN,0,NaN,NaN,NaN
230375,1359493,1,Sunrisers Hyderabad,Kolkata Knight Riders,7,1,AK Markram,CV Varun,HC Brook,1,0,1,NaN,0,NaN,NaN,NaN
7727,336014,2,Deccan Chargers,Kolkata Knight Riders,15,5,Y Venugopal Rao,I Sharma,WPUJC Vaas,6,0,6,NaN,0,NaN,NaN,NaN
58780,548306,2,Mumbai Indians,Chennai Super Kings,7,5,RE Levi,DJ Bravo,SR Tendulkar,0,0,0,NaN,1,RE Levi,caught,DE Bollinger
155428,1136582,1,Kings XI Punjab,Delhi Daredevils,4,3,KL Rahul,LE Plunkett,MA Agarwal,0,0,0,NaN,1,KL Rahul,caught,Avesh Khan

In [8]:
total_run_df=delivery.groupby(['match_id','inning']).sum()['total_runs'].reset_index()

In [9]:
total_run_df=total_run_df[total_run_df['inning']==1]
total_run_df

      match_id  inning  total_runs
0       335982       1         222
2       335983       1         240
4       335984       1         129
6       335985       1         165
8       335986       1         110
...        ...     ...         ...
2207   1426307       1         214
2209   1426309       1         159
2211   1426310       1         172
2213   1426311       1         175
2215   1426312       1         113

[1095 rows x 3 columns]

In [10]:
match=match.merge(total_run_df[['match_id','total_runs']],left_on='id',right_on='match_id')
match.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bangalore,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,NaN,Asad Rauf,RE Koertzen,335982,222
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,NaN,MR Benson,SL Shastri,335983,240
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Daredevils,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,NaN,Aleem Dar,GA Pratapkumar,335984,129
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bangalore,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,NaN,SJ Davis,DJ Harper,335985,165
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Deccan Chargers,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,NaN,BF Bowden,K Hariharan,335986,110

In [11]:
match.shape

(1095, 22)

In [12]:
match['team1'].unique().tolist()

['Royal Challengers Bangalore',
 'Kings XI Punjab',
 'Delhi Daredevils',
 'Mumbai Indians',
 'Kolkata Knight Riders',
 'Rajasthan Royals',
 'Deccan Chargers',
 'Chennai Super Kings',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Sunrisers Hyderabad',
 'Gujarat Lions',
 'Rising Pune Supergiants',
 'Rising Pune Supergiant',
 'Delhi Capitals',
 'Punjab Kings',
 'Lucknow Super Giants',
 'Gujarat Titans',
 'Royal Challengers Bengaluru']

In [13]:
match['team2'].unique().shape

(19,)

In [14]:
match['team1']=match['team1'].str.replace('Royal Challengers Bangalore','Royal Challengers Bengaluru')
match['team2']=match['team2'].str.replace('Royal Challengers Bangalore','Royal Challengers Bengaluru')
match['team1']=match['team1'].str.replace('Gujarat Lions','Gujarat Titans')
match['team2']=match['team2'].str.replace('Gujarat Lions','Gujarat Titans')
match['team1']=match['team1'].str.replace('Kings XI Punjab','Punjab Kings')
match['team2']=match['team2'].str.replace('Kings XI Punjab','Punjab Kings')
match['team1']=match['team1'].str.replace('Delhi Daredevils','Delhi Capitals')
match['team2']=match['team2'].str.replace('Delhi Daredevils','Delhi Capitals')
match['team1']=match['team1'].str.replace('Rising Pune Supergiants','Chennai Super Kings')
match['team2']=match['team2'].str.replace('Rising Pune Supergiants','Chennai Super Kings')
match['team1']=match['team1'].str.replace('Rising Pune Supergiant','Chennai Super Kings')
match['team2']=match['team2'].str.replace('Rising Pune Supergiant','Chennai Super Kings')
match['team1']=match['team1'].str.replace('Deccan Chargers','Sunrisers Hyderabad')
match['team2']=match['team2'].str.replace('Deccan Chargers','Sunrisers Hyderabad')

In [15]:
match['team1'].unique().shape

(12,)

In [16]:
match['team1'].unique().tolist()

['Royal Challengers Bengaluru',
 'Punjab Kings',
 'Delhi Capitals',
 'Mumbai Indians',
 'Kolkata Knight Riders',
 'Rajasthan Royals',
 'Sunrisers Hyderabad',
 'Chennai Super Kings',
 'Kochi Tuskers Kerala',
 'Pune Warriors',
 'Gujarat Titans',
 'Lucknow Super Giants']

In [17]:
teams=['Royal Challengers Bengaluru',
 'Punjab Kings',
 'Delhi Capitals',
 'Mumbai Indians',
 'Kolkata Knight Riders',
 'Rajasthan Royals',
 'Sunrisers Hyderabad',
 'Chennai Super Kings',
 'Gujarat Titans',
 'Lucknow Super Giants']

In [18]:
match=match[match['team1'].isin(teams)]
match=match[match['team2'].isin(teams)]

In [19]:
match['team1'].unique().shape

(10,)

In [20]:
match['team1'].unique().tolist()

['Royal Challengers Bengaluru',
 'Punjab Kings',
 'Delhi Capitals',
 'Mumbai Indians',
 'Kolkata Knight Riders',
 'Rajasthan Royals',
 'Sunrisers Hyderabad',
 'Chennai Super Kings',
 'Gujarat Titans',
 'Lucknow Super Giants']

In [21]:
match.shape

(1036, 22)

In [22]:
match['method'].value_counts()

method
D/L    20
Name: count, dtype: int64

In [23]:
match['method'].isnull().sum()

1016

In [24]:
match = match[match['method'] != 'D/L']

In [25]:
match.shape

(1016, 22)

In [26]:
match['method'] = match['method'].fillna('0')

In [27]:
match.head()

,id,season,city,date,match_type,player_of_match,venue,team1,team2,toss_winner,...,result,result_margin,target_runs,target_overs,super_over,method,umpire1,umpire2,match_id,total_runs
0,335982,2007/08,Bangalore,2008-04-18,League,BB McCullum,M Chinnaswamy Stadium,Royal Challengers Bengaluru,Kolkata Knight Riders,Royal Challengers Bangalore,...,runs,140.0,223.0,20.0,N,0,Asad Rauf,RE Koertzen,335982,222
1,335983,2007/08,Chandigarh,2008-04-19,League,MEK Hussey,"Punjab Cricket Association Stadium, Mohali",Punjab Kings,Chennai Super Kings,Chennai Super Kings,...,runs,33.0,241.0,20.0,N,0,MR Benson,SL Shastri,335983,240
2,335984,2007/08,Delhi,2008-04-19,League,MF Maharoof,Feroz Shah Kotla,Delhi Capitals,Rajasthan Royals,Rajasthan Royals,...,wickets,9.0,130.0,20.0,N,0,Aleem Dar,GA Pratapkumar,335984,129
3,335985,2007/08,Mumbai,2008-04-20,League,MV Boucher,Wankhede Stadium,Mumbai Indians,Royal Challengers Bengaluru,Mumbai Indians,...,wickets,5.0,166.0,20.0,N,0,SJ Davis,DJ Harper,335985,165
4,335986,2007/08,Kolkata,2008-04-20,League,DJ Hussey,Eden Gardens,Kolkata Knight Riders,Sunrisers Hyderabad,Deccan Chargers,...,wickets,5.0,111.0,20.0,N,0,BF Bowden,K Hariharan,335986,110

In [28]:
match=match[['match_id','city','winner','total_runs']]

In [29]:
match.shape

(1016, 4)

In [30]:
df=match.merge(delivery,on='match_id')

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243620 entries, 0 to 243619
Data columns (total 20 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   match_id          243620 non-null  int64
 1   city              231223 non-null  object
 2   winner            243193 non-null  object
 3   total_runs_x      243620 non-null  int64
 4   inning            243620 non-null  int64
 5   batting_team      243620 non-null  object
 6   bowling_team      243620 non-null  object
 7   over              243620 non-null  int64
 8   ball              243620 non-null  int64
 9   batter            243620 non-null  object
 10  bowler            243620 non-null  object
 11  non_striker       243620 non-null  object
 12  batsman_runs      243620 non-null  int64
 13  extra_runs        243620 non-null  int64
 14  total_runs_y      243620 non-null  int64
 15  extras_type       13235 non-null   object
 16  is_wicket         243620 non-null  int64
 17  player_dismissed  12099 non-null   object
 18  dismissal_kind    12099 non-null   object
 19  fielder           8741 non-null    object
dtypes: int64(9), object(11)
memory usage: 37.2+ MB

In [32]:
df=df[df['inning']==2]

In [33]:
df.head(10)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,bowler,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,AB Dinda,R Dravid,0,1,1,wides,0,NaN,NaN,NaN
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,AB Dinda,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,AB Dinda,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN
129,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,6,W Jaffer,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
130,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,7,W Jaffer,AB Dinda,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN
131,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,1,R Dravid,I Sharma,W Jaffer,0,0,0,NaN,1,R Dravid,bowled,NaN
132,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,2,V Kohli,I Sharma,W Jaffer,0,0,0,NaN,0,NaN,NaN,NaN
133,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,3,V Kohli,I Sharma,W Jaffer,0,4,4,legbyes,0,NaN,NaN,NaN

In [34]:
df.shape

(117816, 20)

In [35]:
df['current_score'] = df.groupby('match_id')['total_runs_y'].cumsum()

In [36]:
df.head(10)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,non_striker,batsman_runs,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,1
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,R Dravid,0,1,1,wides,0,NaN,NaN,NaN,2
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN,2
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,R Dravid,1,0,1,NaN,0,NaN,NaN,NaN,3
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,W Jaffer,1,0,1,NaN,0,NaN,NaN,NaN,4
129,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,6,W Jaffer,...,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN,4
130,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,7,W Jaffer,...,R Dravid,0,0,0,NaN,0,NaN,NaN,NaN,4
131,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,1,R Dravid,...,W Jaffer,0,0,0,NaN,1,R Dravid,bowled,NaN,4
132,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,2,V Kohli,...,W Jaffer,0,0,0,NaN,0,NaN,NaN,NaN,4
133,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,3,V Kohli,...,W Jaffer,0,4,4,legbyes,0,NaN,NaN,NaN,8

In [37]:
df['target']=df['total_runs_x']+1
df['runs_left']=df['target']-df['current_score']

In [38]:
df.head(10)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,extra_runs,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,target,runs_left
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,1,223,222
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,1,1,wides,0,NaN,NaN,NaN,2,223,221
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,NaN,0,NaN,NaN,NaN,2,223,221
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,1,NaN,0,NaN,NaN,NaN,3,223,220
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,1,NaN,0,NaN,NaN,NaN,4,223,219
129,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,6,W Jaffer,...,0,0,NaN,0,NaN,NaN,NaN,4,223,219
130,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,7,W Jaffer,...,0,0,NaN,0,NaN,NaN,NaN,4,223,219
131,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,1,R Dravid,...,0,0,NaN,1,R Dravid,bowled,NaN,4,223,219
132,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,2,V Kohli,...,0,0,NaN,0,NaN,NaN,NaN,4,223,219
133,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,1,3,V Kohli,...,4,4,legbyes,0,NaN,NaN,NaN,8,223,215

In [39]:
df['balls_left']=120-(df['over']*6+df['ball'])

In [40]:
df.head(101)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,total_runs_y,extras_type,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,target,runs_left,balls_left
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,1,NaN,0,NaN,NaN,NaN,1,223,222,119
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,1,wides,0,NaN,NaN,NaN,2,223,221,118
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,NaN,0,NaN,NaN,NaN,2,223,221,117
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,1,NaN,0,NaN,NaN,NaN,3,223,220,116
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,1,NaN,0,NaN,NaN,NaN,4,223,219,115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,14,5,P Kumar,...,1,legbyes,0,NaN,NaN,NaN,80,223,143,31
221,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,14,6,SB Joshi,...,1,NaN,0,NaN,NaN,NaN,81,223,142,30
222,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,14,7,P Kumar,...,0,NaN,0,NaN,NaN,NaN,81,223,142,29
223,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,15,1,SB Joshi,...,1,wides,0,NaN,NaN,NaN,82,223,141,29
224,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,15,2,SB Joshi,...,0,NaN,1,SB Joshi,caught,BB McCullum,82,223,141,28

In [41]:
df['player_dismissed']=df['player_dismissed'].fillna('0')
df['player_dismissed']=df['player_dismissed'].apply(lambda x:x if x=='0' else '1')
df['player_dismissed']=df['player_dismissed'].astype('int')
df['wickets'] = df.groupby('match_id')['player_dismissed'].cumsum()
df['wickets_remaining'] = 10 - df['wickets']
df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,target,runs_left,balls_left,wickets,wickets_remaining
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,0,NaN,NaN,1,223,222,119,0,10
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,0,0,NaN,NaN,2,223,221,118,0,10
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,NaN,NaN,2,223,221,117,0,10
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,0,NaN,NaN,3,223,220,116,0,10
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,0,NaN,NaN,4,223,219,115,0,10

In [42]:
df.head(101)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,target,runs_left,balls_left,wickets,wickets_remaining
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,0,NaN,NaN,1,223,222,119,0,10
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,0,0,NaN,NaN,2,223,221,118,0,10
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,NaN,NaN,2,223,221,117,0,10
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,0,NaN,NaN,3,223,220,116,0,10
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,0,NaN,NaN,4,223,219,115,0,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,14,5,P Kumar,...,0,0,NaN,NaN,80,223,143,31,9,1
221,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,14,6,SB Joshi,...,0,0,NaN,NaN,81,223,142,30,9,1
222,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,14,7,P Kumar,...,0,0,NaN,NaN,81,223,142,29,9,1
223,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,15,1,SB Joshi,...,0,0,NaN,NaN,82,223,141,29,9,1
224,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,15,2,SB Joshi,...,1,1,caught,BB McCullum,82,223,141,28,10,0

In [43]:
df['current_run_rate']=(df['current_score']*6)/(120-df['balls_left'])

In [44]:
df.head()

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,player_dismissed,dismissal_kind,fielder,current_score,target,runs_left,balls_left,wickets,wickets_remaining,current_run_rate
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,NaN,NaN,1,223,222,119,0,10,6.0
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,0,NaN,NaN,2,223,221,118,0,10,6.0
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,NaN,NaN,2,223,221,117,0,10,4.0
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,NaN,NaN,3,223,220,116,0,10,4.5
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,NaN,NaN,4,223,219,115,0,10,4.8

In [45]:
df.drop(columns='target')

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,is_wicket,player_dismissed,dismissal_kind,fielder,current_score,runs_left,balls_left,wickets,wickets_remaining,current_run_rate
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,0,0,NaN,NaN,1,222,119,0,10,6.000000
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,0,0,NaN,NaN,2,221,118,0,10,6.000000
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,0,0,NaN,NaN,2,221,117,0,10,4.000000
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,0,0,NaN,NaN,3,220,116,0,10,4.500000
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,0,0,NaN,NaN,4,219,115,0,10,4.800000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243615,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,5,SS Iyer,...,0,0,NaN,NaN,110,4,61,2,8,11.186441
243616,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,9,6,VR Iyer,...,0,0,NaN,NaN,111,3,60,2,8,11.100000
243617,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,1,VR Iyer,...,0,0,NaN,NaN,112,2,59,2,8,11.016393
243618,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,2,SS Iyer,...,0,0,NaN,NaN,113,1,58,2,8,10.935484
243619,1426312,Chennai,Kolkata Knight Riders,113,2,Kolkata Knight Riders,Sunrisers Hyderabad,10,3,VR Iyer,...,0,0,NaN,NaN,114,0,57,2,8,10.857143

In [46]:
df['required_run_rate']=(df['runs_left']*6)/df['balls_left']

In [47]:
df.head(101)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,dismissal_kind,fielder,current_score,target,runs_left,balls_left,wickets,wickets_remaining,current_run_rate,required_run_rate
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,NaN,NaN,1,223,222,119,0,10,6.000000,11.193277
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,NaN,NaN,2,223,221,118,0,10,6.000000,11.237288
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,NaN,NaN,2,223,221,117,0,10,4.000000,11.333333
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,NaN,NaN,3,223,220,116,0,10,4.500000,11.379310
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,NaN,NaN,4,223,219,115,0,10,4.800000,11.426087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,14,5,P Kumar,...,NaN,NaN,80,223,143,31,9,1,5.393258,27.677419
221,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,14,6,SB Joshi,...,NaN,NaN,81,223,142,30,9,1,5.400000,28.400000
222,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,14,7,P Kumar,...,NaN,NaN,81,223,142,29,9,1,5.340659,29.379310
223,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,15,1,SB Joshi,...,NaN,NaN,82,223,141,29,9,1,5.406593,29.172414
224,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,15,2,SB Joshi,...,caught,BB McCullum,82,223,141,28,10,0,5.347826,30.214286

In [48]:
def result(row):
    return 1 if row['batting_team']==row['winner'] else 0

In [49]:
df['result']=df.apply(result,axis=1)

In [50]:
df['pressure'] = df['required_run_rate'] - df['current_run_rate']

In [51]:
df.head(101)

,match_id,city,winner,total_runs_x,inning,batting_team,bowling_team,over,ball,batter,...,current_score,target,runs_left,balls_left,wickets,wickets_remaining,current_run_rate,required_run_rate,result,pressure
124,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,1,R Dravid,...,1,223,222,119,0,10,6.000000,11.193277,0,5.193277
125,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,2,W Jaffer,...,2,223,221,118,0,10,6.000000,11.237288,0,5.237288
126,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,3,W Jaffer,...,2,223,221,117,0,10,4.000000,11.333333,0,7.333333
127,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,4,W Jaffer,...,3,223,220,116,0,10,4.500000,11.379310,0,6.879310
128,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,0,5,R Dravid,...,4,223,219,115,0,10,4.800000,11.426087,0,6.626087
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
220,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,14,5,P Kumar,...,80,223,143,31,9,1,5.393258,27.677419,0,22.284161
221,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,14,6,SB Joshi,...,81,223,142,30,9,1,5.400000,28.400000,0,23.000000
222,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,14,7,P Kumar,...,81,223,142,29,9,1,5.340659,29.379310,0,24.038651
223,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,15,1,SB Joshi,...,82,223,141,29,9,1,5.406593,29.172414,0,23.765820
224,335982,Bangalore,Kolkata Knight Riders,222,2,Royal Challengers Bangalore,Kolkata Knight Riders,15,2,SB Joshi,...,82,223,141,28,10,0,5.347826,30.214286,0,24.866460

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117816 entries, 124 to 243619
Data columns (total 30 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   match_id           117816 non-null  int64
 1   city               111804 non-null  object
 2   winner             117789 non-null  object
 3   total_runs_x       117816 non-null  int64
 4   inning             117816 non-null  int64
 5   batting_team       117816 non-null  object
 6   bowling_team       117816 non-null  object
 7   over               117816 non-null  int64
 8   ball               117816 non-null  int64
 9   batter             117816 non-null  object
 10  bowler             117816 non-null  object
 11  non_striker        117816 non-null  object
 12  batsman_runs       117816 non-null  int64
 13  extra_runs         117816 non-null  int64
 14  total_runs_y       117816 non-null  int64
 15  extras_type        6342 non-null    object
 16  is_wicket          117816 non-null  int64
 17  player_dismissed   117816 non-null  int32
 18  dismissal_kind     5830 non-null    object
 19  fielder            4164 non-null    object
 20  current_score      117816 non-null  int64
 21  target             117816 non-null  int64
 22  runs_left          117816 non-null  int64
 23  balls_left         117816 non-null  int64
 24  wickets            117816 non-null  int32
 25  wickets_remaining  117816 non-null  int32
 26  current_run_rate   117816 non-null  float64
 27  required_run_rate  117800 non-null  float64
 28  result             117816 non-null  int64
 29  pressure           117800 non-null  float64
dtypes: float64(3), int32(3), int64(14), object(10)
memory usage: 26.5+ MB

In [53]:
df=df[['batting_team','bowling_team','runs_left','balls_left','result','current_run_rate','required_run_rate','city','wickets_remaining','target','pressure']]

In [54]:
df.head()

,batting_team,bowling_team,runs_left,balls_left,result,current_run_rate,required_run_rate,city,wickets_remaining,target,pressure
124,Royal Challengers Bangalore,Kolkata Knight Riders,222,119,0,6.0,11.193277,Bangalore,10,223,5.193277
125,Royal Challengers Bangalore,Kolkata Knight Riders,221,118,0,6.0,11.237288,Bangalore,10,223,5.237288
126,Royal Challengers Bangalore,Kolkata Knight Riders,221,117,0,4.0,11.333333,Bangalore,10,223,7.333333
127,Royal Challengers Bangalore,Kolkata Knight Riders,220,116,0,4.5,11.379310,Bangalore,10,223,6.879310
128,Royal Challengers Bangalore,Kolkata Knight Riders,219,115,0,4.8,11.426087,Bangalore,10,223,6.626087

In [55]:
df.shape

(117816, 11)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 117816 entries, 124 to 243619
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   batting_team       117816 non-null  object
 1   bowling_team       117816 non-null  object
 2   runs_left          117816 non-null  int64
 3   balls_left         117816 non-null  int64
 4   result             117816 non-null  int64
 5   current_run_rate   117816 non-null  float64
 6   required_run_rate  117800 non-null  float64
 7   city               111804 non-null  object
 8   wickets_remaining  117816 non-null  int32
 9   target             117816 non-null  int64
 10  pressure           117800 non-null  float64
dtypes: float64(3), int32(1), int64(4), object(3)
memory usage: 10.3+ MB

In [57]:
df['required_run_rate'] = df['required_run_rate'].fillna(0)

In [58]:
X=df.iloc[:,:-1]
Y=df.iloc[:,-1]

In [59]:
from sklearn.model_selection import train_test_split

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

In [60]:
X_train

,batting_team,bowling_team,runs_left,balls_left,result,current_run_rate,required_run_rate,city,wickets_remaining,target
224709,Rajasthan Royals,Punjab Kings,131,83,1,9.243243,9.469880,Dharamsala,9,188
159193,Mumbai Indians,Kolkata Knight Riders,191,79,0,6.146341,14.506329,Kolkata,7,233
234698,Lucknow Super Giants,Chennai Super Kings,140,91,1,7.655172,9.230769,Lucknow,10,177
97972,Kings XI Punjab,Rajasthan Royals,192,118,1,0.000000,9.762712,Ahmedabad,10,192
163123,Chennai Super Kings,Rajasthan Royals,140,67,0,8.716981,12.537313,NaN,7,217
...,...,...,...,...,...,...,...,...,...,...
158738,Rajasthan Royals,Sunrisers Hyderabad,67,50,1,8.057143,8.040000,Jaipur,8,161
227936,Royal Challengers Bengaluru,Punjab Kings,108,70,1,8.280000,9.257143,Bengaluru,8,177
214368,Rajasthan Royals,Gujarat Titans,176,111,1,1.333333,9.513514,Ahmedabad,9,178
1842,Mumbai Indians,Chennai Super Kings,79,35,0,9.176471,13.542857,Chennai,6,209
32782,Mumbai Indians,Kings XI Punjab,101,71,1,7.714286,8.535211,Mumbai,9,164

In [61]:
X = df.drop('result', axis=1)
y = df['result']

# Clean inf and NaN from X
X.replace([np.inf, -np.inf], np.nan, inplace=True)
X.fillna(0, inplace=True)

# Clean y if needed (just in case)
y.replace([np.inf, -np.inf], np.nan, inplace=True)
y.fillna(0, inplace=True)

In [62]:
categorical_features = ['batting_team', 'bowling_team', 'city']
for col in categorical_features:
    X[col] = X[col].astype(str)

In [63]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42, stratify=y)

In [64]:
categorical_features = ['batting_team', 'bowling_team', 'city']

preprocessor = ColumnTransformer(
    transformers=[
        ('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)
    ],
    remainder='passthrough'  # All other numeric features stay as-is
)

In [65]:
pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier(random_state=42))
])

In [66]:
pipeline.fit(X_train, y_train)

C:\Users\yatin\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\compose\_column_transformer.py:1667: FutureWarning:
The format of the columns of the 'remainder' transformer in ColumnTransformer.transformers_ will change in version 1.7 to match the format of the other transformers.
At the moment the remainder columns are stored as indices (of type int). With the same ColumnTransformer configuration, in the future they will be stored as column names (of type str).
To use the new behavior now and suppress this warning, use ColumnTransformer(force_int_remainder_cols=False).

  warnings.warn(

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('cat',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['batting_team',
                                                   'bowling_team', 'city'])])),
                ('classifier', RandomForestClassifier(random_state=42))])

In [67]:
y_pred = pipeline.predict(X_test)

In [68]:
accuracy = accuracy_score(y_test, y_pred)

print(f"✅ Model Accuracy: {accuracy:.4f}")

✅ Model Accuracy: 0.9975

In [72]:
from sklearn.metrics import classification_report, confusion_matrix

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))
print("\nConfusion Matrix:\n", confusion_matrix(y_test, y_pred))

Accuracy: 0.9975386182312002

Classification Report:
               precision    recall  f1-score   support

           0       1.00      1.00      1.00     11250
           1       1.00      1.00      1.00     12314

    accuracy                           1.00     23564
   macro avg       1.00      1.00      1.00     23564
weighted avg       1.00      1.00      1.00     23564


Confusion Matrix:
 [[11223    27]
 [   31 12283]]

In [69]:
teams

['Royal Challengers Bengaluru',
 'Punjab Kings',
 'Delhi Capitals',
 'Mumbai Indians',
 'Kolkata Knight Riders',
 'Rajasthan Royals',
 'Sunrisers Hyderabad',
 'Chennai Super Kings',
 'Gujarat Titans',
 'Lucknow Super Giants']

In [71]:
city=df['city'].unique().tolist()

In [76]:
test_input = pd.DataFrame([{
    'batting_team': 'Chennai Super Kings',
    'bowling_team': 'Punjab Kings',
    'city': 'Chandigarh',
    'runs_left': 60,
    'balls_left': 18,
    'current_run_rate': 10.0,
    'required_run_rate': 20.0,
    'wickets_remaining': 5,
    'target': 220,
    'pressure':10.0
}])

In [77]:
for col in categorical_features:
    test_input[col] = test_input[col].astype(str)

In [78]:
prediction = pipeline.predict(test_input)[0]

In [79]:
print("✅ Prediction:", "Batting team will win" if prediction == 1 else "Batting team will lose")

✅ Prediction: Batting team will lose

In [80]:
prob = pipeline.predict_proba(test_input)[0]
print(f"Win probability: {prob[1]*100:.2f}%")
print(f"Lose probability: {prob[0]*100:.2f}%")

Win probability: 1.00%
Lose probability: 99.00%

In [81]:
import joblib

# Save the trained model
joblib.dump(pipeline, 'ipl_win_predictor_v1.joblib')
print("✅ Model exported as 'ipl_win_predictor_v1.joblib'")

✅ Model exported as 'ipl_win_predictor_v1.joblib'

In [82]:
# 1. Over progress: percentage of innings completed
df['over_progress'] = ((120 - df['balls_left']) / 120).round(2)

# 2. Run rate difference: current vs required
df['run_rate_diff'] = df['current_run_rate'] - df['required_run_rate']

# 3. Pressure index: higher when wickets are lost and RRR is high
df['pressure'] = (df['required_run_rate'] / (df['wickets_remaining'] + 1)).round(2)


df.replace([np.inf, -np.inf], np.nan, inplace=True)
df.fillna(0, inplace=True)


X = df.drop('result', axis=1)
y = df['result']

# Convert categorical columns to strings
categorical_features = ['batting_team', 'bowling_team', 'city']
for col in categorical_features:
    X[col] = X[col].astype(str)

# Train-test split
X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42, stratify=y
)

# Pipeline setup
preprocessor = ColumnTransformer(
    transformers=[('cat', OneHotEncoder(handle_unknown='ignore'), categorical_features)],
    remainder='passthrough'
)

pipeline = Pipeline(steps=[
    ('preprocessor', preprocessor),
    ('classifier', RandomForestClassifier(random_state=42))
])

# Fit model
pipeline.fit(X_train, y_train)


from sklearn.metrics import accuracy_score

y_pred = pipeline.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print(f"✅ V2 Accuracy: {accuracy:.4f}")

# Export v2
joblib.dump(pipeline, 'ipl_win_predictor_v2.joblib')
print("✅ Model exported as 'ipl_win_predictor_v2.joblib'")

✅ V2 Accuracy: 0.9950
✅ Model exported as 'ipl_win_predictor_v2.joblib'

In [83]:
user_input = {
    'batting_team': 'Chennai Super Kings',
    'bowling_team': 'Punjab Kings',
    'city': 'Chandigarh',
    'target': 220,
    'current_score': 160,
    'overs_completed': 17.0,
    'wickets_fallen': 5
}

In [84]:
import pandas as pd

def prepare_input(user_input):
    runs_left = user_input['target'] - user_input['current_score']
    balls_left = 120 - int(user_input['overs_completed'] * 6)
    current_run_rate = (user_input['current_score'] / user_input['overs_completed']) if user_input['overs_completed'] != 0 else 0
    required_run_rate = (runs_left * 6 / balls_left) if balls_left != 0 else 0
    wickets_remaining = 10 - user_input['wickets_fallen']
    pressure = round(required_run_rate / (wickets_remaining + 1), 2) if wickets_remaining > 0 else required_run_rate
    over_progress = round((120 - balls_left) / 120, 2)
    run_rate_diff = current_run_rate - required_run_rate

    # Create final input DataFrame
    test_input = pd.DataFrame([{
        'batting_team': user_input['batting_team'],
        'bowling_team': user_input['bowling_team'],
        'city': user_input['city'],
        'runs_left': runs_left,
        'balls_left': balls_left,
        'current_run_rate': current_run_rate,
        'required_run_rate': required_run_rate,
        'wickets_remaining': wickets_remaining,
        'target': user_input['target'],
        'pressure': pressure,
        'over_progress': over_progress,
        'run_rate_diff': run_rate_diff
    }])
    
    return test_input

In [85]:
import joblib

# Load v2 model
model = joblib.load('ipl_win_predictor_v2.joblib')

# Prepare input
test_input = prepare_input(user_input)

# Predict
prediction = model.predict(test_input)[0]
probability = model.predict_proba(test_input)[0][1]  # Probability of winning

# Output result
print("🏏 Predicted Result:", "Win" if prediction == 1 else "Lose")
print(f"📊 Win Probability: {probability:.2%}")

🏏 Predicted Result: Lose
📊 Win Probability: 4.00%